# Python
__pycache__/
*.pyc
.venv/
venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Android
android/.gradle/
android/local.properties

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment Variables
.env
.env.*
!**/.env.example

# Logs
*.log

# Node.js
node_modules/
dist/
coverage/
backend/src/generated/prisma/
backend/.backups/
